@import "../base/colors", "../base/fonts";

.content{
    max-width: 800px;
    margin: auto;
}

.dashboard-info{
    padding: 0px 12px;
}

.stats{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.stats-item{
    width: 300px;
    display: flex;
    align-items: center;
    padding: 14px;
    margin: 20px;
    font-weight: 1.2em;
    font-weight: 600;
    border: solid 2px #d8dbe6;
    border-radius: 10px;
    & i {
        padding-right: 15px;
        font-size: 2em;
    }
}